@using System.Web.Optimization
@using GeoLocation.Helpers
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meet Brian</title>
    <link rel="shortcut icon" href="http://about.GeoLocation.com/wp-content/themes/GeoLocation/images/favicon.ico" type="image/x-icon" />
    @Styles.Render("~/css")
    @RenderSection("headerScripts", required: false)
</head>
<body>
    @RenderBody()

    @Scripts.Render("~/js")
    @RenderSection("scripts", required: false)
    @RenderSection("twitter", required: false)
</body>
</html>
